.HeaderContainer {}

.Header {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.HeaderLogo {
  width: 200px;
  min-height: 70px;
}

.HeaderLogoLink {
  margin: 0 auto;
}

.HeaderSubtitle {
  color: white;
  margin: 0 auto;
}

.HeaderSubtitleOneLine {
  margin-bottom: 10px;
  font-size: 0.9em;
}

@media (max-width: 960px) {
  .HeaderLogoContainer {
    width: 100%;
  }
}
