.AppMobile {
  .Product {
    background-color: #f2f3f5;
  }
}
.AppDesktop {
  .ProductName {
    height: 50px;
  }
}

.ProductName {
  font-size: 13px;
  line-height: 1.5;
}

.ProductImageContainer {
  text-align: center;
}

.ProductImage {
  width: 90%;
}

.ProductLinkContainer {
  span, b, p {
    text-decoration: none;

  }
}
