.ProductButton {
  background-color: #ff4572;
  border: solid 1px #ff4572;
  border-radius: 100px;
  width: 100%;
	height: 32px;
  outline: none;
  margin: 10px 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
	font-weight: bold;
  line-height: 2;
}
.ProductButton:hover {
  cursor: pointer;
  background-color: #d74669;
  border: solid 1px #d74669;
  transition: all 0.5s;
}

.ProductButton:hover a {
  color: white;
  transition: all 0.5s;
}

.ProductButtonLink {
	text-align: center;
  width: 100%;
}
