.USPContainer {
  height: 80px;
  background-color: rgba(32, 40, 47, 0.25);
  text-align: center; }

.USP {
  max-width: 960px;
  margin: 0 auto; }

.USPUnit {
  margin: 10px; }

.USPHeader {
  font-weight: bold; }

.USP p {
  color: white;
  margin: 5px; }

.USPSub {
  font-size: 14px; }
