#SearchContainer, .SearchContainer {
  max-width: 960px;
  margin: 0 auto;
}

.AppDesktop {
  .LandingPageContainer .SearchContainer, .HomePageContainer .SearchContainer {
    margin-top: 40px;
  }
}

.SearchLink {
  width: 100%;
  text-decoration: none;
}
