.App .Select, body .Select {
  width: 100%;
  border: 1px solid #00cbe2;
  border-left: none; }

.App .Select-control, body .Select-control {
  border: none;
  height: 48px;
  border-radius: 0;
  padding-top: 6px; }

.App .Select-placeholder, body .Select-placeholder {
  top: 8px; }

.App .Select-input, body .Select-input {
  display: inline-block; }

.App .Select-multi-value-wrapper, body .Select-multi-value-wrapper {
  /*width: 100%;*/ }

.App .Select--multi .Select-value, .App .Select--multi.is-disabled .Select-value, body .Select--multi .Select-value, body .Select--multi.is-disabled .Select-value {
  border-color: #00cbe2;
  background-color: #00cbe2;
  color: white;
  border-radius: 4px; }

.App .Select--multi .Select-value:hover, body .Select--multi .Select-value:hover {
  border-color: #1ab2c4;
  background-color: #1ab2c4; }

.App .Select--multi .Select-value-icon, body .Select--multi .Select-value-icon {
  border-right: none; }
